
<div class="row">
  <div class="col-sm-12">
      <app-card  [classHeader]="true" [blockClass]="'table-border-style'">
        <div class="table-responsive">
            <p>
              <!-- <a class="btn btn-success float-right" [routerLink]="['/add-edit-item']">Add New</a>   -->
              <!-- <a class="btn btn-success float-right text-white m-b-10 m-r-20 fa fa-plus-circle cursor-pointer" (click)="openAddEditModal(0)"><span class="font-d"> Add New</span></a> -->
            </p>
              <br/>
              <br/>

            <p-table class="" #dt [value]="countryMaster" [(selection)]="selectedCountryMaster" dataKey="id" [autoLayout]="true" styleClass="p-datatable-d" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0" [globalFilterFields]="['Country_Name','Country_Code']">
              <ng-template pTemplate="caption">
                <div class="table-header-p ">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input class="p-l-30 form-control" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                    </span>
                    <span><a class="btn btn-success float-right text-white m-b-10 m-r-20 fa fa-plus-circle cursor-pointer" (click)="openAddEditModal(0)"><span class="font-d"> Add New</span></a></span>
                </div>
              </ng-template>
              <br/>
              <br/>
              <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="Country_Code">Country Code <p-sortIcon field="Country_Code"></p-sortIcon></th>
                  <th pSortableColumn="Country_Name">Country Name<p-sortIcon field="Country_Name"></p-sortIcon></th>
                  <th >Action </th>
              </tr>
              <!-- <tr>
                  <th>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'Country_Code', 'startsWith')" placeholder="Search by Country" class="form-control">
                  </th>
                <th></th>
                  <th>
                      <input pInputText type="text" (input)="dt.filter($event.target.value, 'Country_Name', 'contains')" placeholder="Search by Root" class="form-control">
                  </th>

                  <th></th>
                  <th></th>
                  <th></th>

              </tr> -->
              </ng-template>

              <ng-template pTemplate="body" let-item>
              <tr class="">  <!-- p-selectable-row  -->

                  <td>
                        {{item.Country_Code}}
                  </td>
                  <td>
                    {{item.Country_Name}}
                  </td>
                  <td>
                          <a class="ti-pencil-alt edit" (click)="openAddEditModal(item.Country_Id)"></a>
                          &nbsp;<a class=" ti-trash delete" data-toggle="tooltip" data-placement="top" title="{{deleteTooltip}}" (click)="deleteItem(item.Country_Id)"></a>
                             <!-- &nbsp;<a class=" ti-eye view" (click)="deleteItem(item.Item_ID)"></a> -->
                  </td>
              </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
              <tr>
              <td colspan="3">No items found</td>
              </tr>
              </ng-template>
          </p-table>
        </div>
     </app-card>
  </div>
</div>

<!-- --------------------Modal----------------------- -->
<div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true">
    <div class="modal-dialog uk-modal-dialog-large modal-lg" role="document" style="min-width:55%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalTitle"><span *ngIf="isEditMode">Update Country</span> <span *ngIf="!isEditMode">Add Country</span> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- <div><div class='alert alert-danger'><span>{{warningMessage}}</span></div></div> -->
          <form >
            <div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Country Code<span class="warningclass" data-toggle="tooltip" data-placement="top" title="{{required}}">*</span></label>
                  <div class="col-sm-4">
                    <input class="form-control" [ngClass] ="countryObj.Country_Code == '' && errorMessage != '' ? 'alert-danger':''" type="text" [(ngModel)]="countryObj.Country_Code" id="Country_Code" [ngModelOptions]="{standalone: true}">
                  </div>
                  <label class="col-sm-2 col-form-label">Country Name<span class="warningclass" data-toggle="tooltip" data-placement="top" title="{{required}}">*</span></label>
                  <div class="col-sm-4">
                    <input class="form-control" [ngClass] ="countryObj.Country_Name == '' && errorMessage != '' ? 'alert-danger':''" type="text"  [(ngModel)]="countryObj.Country_Name" id="Country_Name" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
            </div>
            <br />
            <div><div class='text-danger f-12'><span>{{warningMessage}}</span></div></div>
            <hr />
            <!-- <div class="text-center">
              <div class="form-group align-center">
                <button type="submit" class="btn btn-success fa fa-check-square-o cursor-pointer" (click)="saveCountry()"> <span class="font-d">
                    Save</span></button> &nbsp;
                <button class="btn btn-danger fa fa-remove cursor-pointer" (click)="cancel()"><span class="font-d">
                    Cancel</span></button>
              </div>
            </div> -->

          </form>

        </div>
        <div class="modal-footer align-center">
        <button type="button" class="btn btn-primary" (click)="saveCountry()">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
</div>

