
  <div class="slider-area slider-height" data-background="assets/img/hero/h1_hero.jpg">
    <!-- slider Area Start-->
    <ngb-carousel (slide)="slideActivate($event)" class="myclass">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img/slider/2461341.jpg" alt="Angular Carousel 1" style="width: 100%; height: 50vh">
        </div>
        <div class="carousel-caption">
          <h3>Title Goes Here</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img/slider/2461354.jpg" alt="Angular Carousel 2" style="width: 100%; height: 50vh">
        </div>
        <div class="carousel-caption">
          <h3>Title Goes Here</h3>
          <p>Consectetur tortor volutpat pretium.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img/slider/13.png" alt="Angular Carousel 2" style="width: 100%; height: 50vh">
        </div>
        <div class="carousel-caption">
          <h3>Title Goes Here</h3>
          <p>Consectetur tortor volutpat pretium.</p>
        </div>
      </ng-template>
    </ngb-carousel>

    </div>
    <!-- slider Area End-->

  <div id="all">
      <div id="content">
          <div class="container">
              <!-- *** ADVANTAGES END ***-->
              <div class="box text-center">
                  <h3 class="text-uppercase">New summer arrivals</h3>
                  <h4 class="text-muted"><span class="accent">Free shipping</span> on all</h4>
              </div>
              <div class="row products">
                  <div class="col-md-3 col-sm-4" *ngFor='let prod of Item_Masters'>
                      <div class="product">
                          <div class="image">
                              <a href="detail.html"><img src="/assets/img/img/No-Image.jpg" alt="" class="img-fluid image1"></a>
                              <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                          </div>
                          <!-- /.image-->
                          <div class="text">
                              <h3><a href="detail.html">{{prod.Item_Name}}</a></h3>
                              <p class="card-text text-left  mb-0">Price: <span class="font-weight-bold float-right text-success">{{prod.Price}}</span></p>

                              <p class="card-text text-left">Stock left: <span class="font-weight-bold float-right text-danger">{{prod.Qty}}</span></p>


                              <div class="F8dpS _3L1X9" *ngIf="prod.showaddbtn" (click)="toggleShow(prod)">
                                <div  class="_1RPOp _1uN_a" (click)="addToCart(prod)" >ADD</div>
                                <div class="_1ds9T _2WdfZ _4aKW6">+</div>
                                <div class="_29Y5Z _20vNm _4aKW6"></div>
                                <div class="_2zAXs _2quy- _4aKW6">0</div>
                              </div>
                              <div class="F8dpS _3L1X9" *ngIf="prod.showplusebtn">
                                <div class="_1RPOp _36fT9 _4aKW6">ADD</div>
                                <div class="_1ds9T _2Thnf" (click)="PluseQty(prod)" >+</div>
                                <div class="_29Y5Z _2od4M" (click)="minuseQty(prod)">-</div>
                                <div class="_2zAXs _18lJJ">{{prod.OrderQty}}</div>
                              </div>
                              <!-- <p class="text-center">

                                <button type="submit" class="btn btn-outline-primary" (click)="addToCart(prod)" ><i class="fa fa-shopping-cart"></i></button>
                                <button type="submit" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="btn btn-outline-secondary"><i class="fa fa-heart-o"></i></button>
                             </p> -->
                              <!-- <p class="price">{{prod.Price}}</p>
                              <p class="price">{{prod.Qty}}</p> -->
                          </div>
                          <!-- /.text-->

                              <!-- /.text-->
                              <div class="ribbon sale" style="top: -30px;">
                                <div class="theribbon" (click)="onClickwhishlist(prod)"  ><i class="fa fa-heart-o" [ngClass]="{'active': prod.Activewishlist}"></i></div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon-->
                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon-->
                      </div>
                      <!-- /.product-->
                  </div>
                  <!-- /.col-md-4-->
                  <div id="product-quick-view-modal" tabindex="-1" role="dialog" aria-hidden="false" class="modal fade">
                      <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                              <div class="modal-body">
                                  <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                                  <div class="row quick-view product-main">
                                      <div class="col-sm-6">
                                          <div class="quick-view-main-image"><img src="/assets/img/img/No-Image.jpg" alt="" class="img-fluid"></div>
                                          <div class="ribbon ribbon-quick-view sale">
                                              <div class="theribbon">SALE</div>
                                              <div class="ribbon-background"></div>
                                          </div>
                                          <!-- /.ribbon-->
                                          <div class="ribbon ribbon-quick-view new">
                                              <div class="theribbon">NEW</div>
                                              <div class="ribbon-background"></div>
                                          </div>
                                          <!-- /.ribbon-->
                                          <div class="row thumbs">
                                              <!-- <div class="col-4"><a href="img/detailbig1.jpg" class="thumb"><img src="/assets/img/imagesclient/img-detailsquare.jpg" alt="" class="img-fluid"></a></div>
                                              <div class="col-4"><a href="img/detailbig2.jpg" class="thumb"><img src="/assets/img/imagesclient/img-detailsquare2.jpg" alt="" class="img-fluid"></a></div>
                                              <div class="col-4"><a href="img/detailbig3.jpg" class="thumb"><img src="/assets/img/imagesclient/img-detailsquare3.jpg" alt="" class="img-fluid"></a></div> -->
                                          </div>
                                      </div>
                                      <div class="col-sm-6">
                                          <h2>White Blouse Armani</h2>
                                          <p class="text-muted text-small text-center">White lace top, woven, has a round neck, short sleeves, has knitted lining attached</p>
                                          <div class="box">
                                              <form>
                                                  <div class="sizes">
                                                      <h3>Available sizes</h3>
                                                      <label for="size_s">
                                                          <a href="#">S</a>
                                                          <input id="size_s" type="radio" name="size" value="s" class="size-input">
                                                      </label>
                                                      <label for="size_m">
                                                          <a href="#">M</a>
                                                          <input id="size_m" type="radio" name="size" value="m" class="size-input">
                                                      </label>
                                                      <label for="size_l">
                                                          <a href="#">L</a>
                                                          <input id="size_l" type="radio" name="size" value="l" class="size-input">
                                                      </label>
                                                  </div>
                                                  <p class="price">$124.00</p>
                                                  <p class="text-center">
                                                      <button type="submit" class="btn btn-outline-primary"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                                                      <button type="submit" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="btn btn-outline-secondary"><i class="fa fa-heart-o"></i></button>
                                                  </p>
                                              </form>
                                          </div>
                                          <!-- /.box-->
                                          <div class="quick-view-social">
                                              <h4>Show it to your friends</h4>
                                              <p><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- /.modal-dialog-->
                  </div>
                  <!-- /.modal-->
              </div>
              <!-- /.products-->
          </div>
      </div>
  </div>





