
<body>
  <div class="container">
    <div class="row ml-lg-10 ml-md-10 ">
      <div class="col-md-4" ></div>
      <div class="col-md-offset-8 col-md-4 text-center">
        <!-- <h1 class='text-white'>Prototype Login Form</h1> -->
          <div class="form-login">
            <h4>Login</h4>
            <form  [formGroup]="loginForm" (ngSubmit)="login()" #formDir="ngForm">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="Email" id="Email" class="form-control" />
                <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                    <div *ngIf="f.Email.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="Password"  id="Password"class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                    <div *ngIf="f.Password.errors.required">Password is required</div>
                </div>
            </div>

            <span class="text-danger"  *ngIf="errorMessage != ''">
              {{errorMessage}}
             </span>
             <div class="wrapper mb-3">
              <span class="group-btn">
                <button  class="btn btn-primary">
                  <span class="spinner-border spinner-border-sm mr-1"></span>
                  Login <i class="fa fa-sign-in"></i>
              </button>
              </span>
          </div>

          <div class="wrapper">
            <a href="/create-user" class="group-btn" style="color: aliceblue;">
              <i class="icofont-ui-user"></i>
                Create Profile
            </a>
        </div>
            </form>

        </div>
    </div>
      <div class="col-md-4" ></div>

    </div>
  </div>
</body>

