<!-- *********************************************** Insert-Update **********************************************  -->
<!-- <div *ngIf="IsAddEdit"> -->

  <form >
    <div>
      <div class="form-group row">

        <label class="col-sm-1 col-form-label">Route Date<span class="warningclass" data-toggle="tooltip" data-placement="top" title="{{required}}">*</span></label>
        <div class="col-sm-2">
          <mat-form-field appearance="fill" >
            <mat-label>Choose a date</mat-label>
            <input class="" matInput [matDatepicker]="routeDate" id="Route_Date_Dt" (focus)="routeDate.open()" [(ngModel)]="routeTimeObj.Route_Date_Dt" [ngModelOptions]="{standalone: true}" readonly>
            <mat-datepicker-toggle matSuffix [for]="routeDate"></mat-datepicker-toggle>
            <mat-datepicker #routeDate></mat-datepicker>
          </mat-form-field>
        </div>

        <label class="col-sm-1 col-form-label">Vehicle<span class="warningclass" data-toggle="tooltip" data-placement="top" title="{{required}}">*</span></label>
        <div class="col-sm-3">
          <ng-select [ngClass] ="(routeTimeObj.Vehicle_Id == 0 || routeTimeObj.Vehicle_Id == null)  && errorMessage != '' ? 'border border-danger':''"  [(ngModel)]="routeTimeObj.Vehicle_Id"  placeholder="Select Vehicle"  id="Vehicle_Id"  [ngModelOptions]="{standalone: true}" >
            <ng-option *ngFor="let scat of VehicleList" [value]="scat.id"> {{scat.name}}</ng-option>
          </ng-select>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-success fa fa-check-square-o cursor-pointer" (click)="viewVehicleRouteTimeDetail()"> <span class="font-d">
            View</span></button>
        </div>

      </div>
    </div>
    <div><div class='text-danger f-12'><span>{{warningMessage}}</span></div></div>
    <hr />

  </form>

<!-- </div> -->

<!-- *********************************************** Data List **********************************************  -->

<div *ngIf="isViewVehicleRouteTimeDetail">
  <form>
    <div class="row">
      <div class="col-sm-12">
        <app-card [title]="'Route Detail'" [classHeader]="true" [blockClass]="'table-border-style'">
          <div class="table-responsive">
            <!-- <p>
              <a class="btn btn-success float-right text-white m-b-10 m-r-20 fa fa-plus-circle cursor-pointer" (click)="addNewRow()"><span class="font-d"> Add New</span></a>
            </p>
            <br />
            <br /> -->
            <p-table class="" #dts [value]="routeTimeMasterList" [(selection)]="selectedVehicleRouteTimeDetailList" dataKey="id"
              [autoLayout]="true" styleClass="p-datatable-d" [rowHover]="true" [rows]="5"
              [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]" [loading]="loading"
              [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [filterDelay]="0" [globalFilterFields]="['Route_Name','Route_Start_Time','Route_End_Time']">
              <ng-template pTemplate="caption">
                <div class="table-header-p ">
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input class="p-l-30 form-control" pInputText type="text"
                      (input)="dts.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                  </span>
                    <!-- <span><a class="btn btn-success float-right text-white m-b-10 m-r-20 fa fa-plus-circle cursor-pointer" (click)="addNewRow()"><span class="font-d"> Add New</span></a></span> -->
                </div>
              </ng-template>
              <br />
              <br />
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="Route_Name">Route<p-sortIcon field="Route_Name"></p-sortIcon>
                  </th>
                  <th pSortableColumn="Route_Start_Time">Start Time<p-sortIcon field="Route_Start_Time"></p-sortIcon>
                  </th>
                  <th pSortableColumn="Route_End_Time">End Time<p-sortIcon field="Route_End_Time"></p-sortIcon>
                  </th>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>

                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr class="">
                  <td>
                    {{item.Route_Name}}

                  </td>
                  <td>
                    {{item.Route_Start_Time}}

                  </td>
                  <td>
                    {{item.Route_End_Time}}

                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="5">No items found</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </app-card>
      </div>
    </div>
  </form>
</div>

