
<body>
  <img src="../../../../assets/img/img/1001.jpg" style="position: fixed;width: 100%;height: 100%;">
  <div class="container">

    <div class="row ml-lg-10 ml-md-10 "  *ngIf="showpicodemodel==true">
      <div class="col-md-4" ></div>
      <div class="col-md-offset-8 col-md-4 text-center">
        <!-- <h1 class='text-white'>Prototype Login Form</h1> -->
          <div class="form-login">
            <h4>Create an account</h4>
            <p>Check if the address you need to have delivered to is in our delivery area:</p>
            <form  [formGroup]="CheckPincode" (ngSubmit)="CheckPincodevalid()" #formDir="ngForm" autocomplete="off" >
              <div class="form-group">
                <label for="Pincode">Zip code</label>
                <input type="text" formControlName="Pincode" id="Pincode" class="form-control" placeholder=" for exmaple 2800" />
                <div *ngIf="submitted && P.Pincode.errors" class="invalid-feedback">
                    <div *ngIf="P.Pincode.errors.required">Pincode is required</div>
                </div>
            </div>

            <span class="text-danger"  *ngIf="errorMessage != ''">
              {{errorMessage}}
             </span>
             <div class="wrapper">
                <span class="group-btn">
                  <button  class="btn btn-primary">
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                    Check Pincode <i class="fa fa-sign-in"></i>
                  </button>
                </span>
              </div>
            </form>

        </div>
    </div>
      <div class="col-md-4" ></div>

    </div>


    <div class="row ml-lg-10 ml-md-10 " *ngIf="showcreatemodel">
      <div class="col-md-2" ></div>
      <div class="col-md-offset-8 col-md-8 text-center">
        <!-- <h1 class='text-white'>Prototype Login Form</h1> -->
          <div class="form-login" style="margin-bottom: 65px !important;">
            <h4>Create an account</h4>
            <form autocomplete="off">
              <div class="form-group">
                <label for="Pincode">Customer type</label>

                <div>
                  <label class="radio-inline" *ngFor="let st of CustTypeList; let i = index"  >
                    <input type="radio" name="CustTypeList" [value]="st.id" [(ngModel)]="CreateFromObj.Customer_Type"  (change)="changecustomertype($event)"  [ngModelOptions]="{standalone: true}"> {{st.name}}
                  </label>
                </div>
            </div>
            <div class="form-group">
              <label>Email </label>
              <input type="email" [(ngModel)]="CreateFromObj.Email"  id="Email" class="form-control" placeholder="Email" [ngModelOptions]="{standalone: true}" />
           </div>

          <div class="form-group">
            <label>Company / Institution  </label>
            <input type="text"  [(ngModel)]="CreateFromObj.Compuny_Name"  id="Compuny_Name" class="form-control" placeholder="Company / Institution"  [ngModelOptions]="{standalone: true}"/>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="FirstName">First name</label>
              <input type="text" [(ngModel)]="CreateFromObj.FirstName"  class="form-control" id="FirstName" placeholder="First name" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-4">
              <label for="MiddleName">Middle name</label>
              <input type="text" [(ngModel)]="CreateFromObj.MiddleName" class="form-control" id="MiddleName" placeholder="Middle name" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-4">
              <label for="LastName">Last name</label>
              <input type="text" [(ngModel)]="CreateFromObj.LastName" class="form-control" id="LastName" placeholder="Last name" [ngModelOptions]="{standalone: true}">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="Zipcode">Zip Code</label>
              <input type="number"   [disabled]="true" [(ngModel)]="CreateFromObj.Zipcode" class="form-control" id="Zipcode" placeholder="Zip Code" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-8">
                <label for="Town">Town</label>

                <div class="input-group">
                  <input type="text"  [disabled]="true" [(ngModel)]="CreateFromObj.Town" class="form-control" id="Town" placeholder="Town" [ngModelOptions]="{standalone: true}">
                  <div class="input-group-btn">
                    <button class="btn btn-default" data-toggle="modal" data-target="#myModal" type="button"><i class="icofont-pen-alt-2"></i></button>
                  </div>
                </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="StreetName">Street name (enter the first 3 letters and select)</label>


              <div class="ng-autocomplete">
                <ng-autocomplete
                  [data]="Streetlist"
                  [searchKeyword]="keyword"
                  placeholder="Enter the Street Name"
                  (selected)='selectEvent($event)'
                  (inputChanged)='onChangeSearch($event)'
                  (inputFocused)='onFocused($event)'
                  historyIdentifier="countries"
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate"  class="form-control" autocomplete="off">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>

              <!-- <input type="text" [(ngModel)]="CreateFromObj.StreetName" class="form-control" id="StreetName" placeholder="Street name" [ngModelOptions]="{standalone: true}"> -->
            </div>
            <div class="form-group col-md-4">
              <label for="StreetNo">No.</label>
              <input type="text" [(ngModel)]="CreateFromObj.StreetNo" class="form-control" id="StreetNo" placeholder="No" [ngModelOptions]="{standalone: true}">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="Letter">Letter</label>
              <select id="Letter" class="form-control" [(ngModel)]="CreateFromObj.Letter" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let st of LetterList; let i = index" [value]="st.id"  style="color: #495057;">
                  {{st.name}}
                </option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="Floor">Floor</label>
              <select id="Floor" class="form-control" [(ngModel)]="CreateFromObj.Floor" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let st of FloorList; let i = index" [value]="st.id"  style="color: #495057;">
                  {{st.name}}
                </option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="Page">Page</label>
              <select id="Page" class="form-control" [(ngModel)]="CreateFromObj.Page" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let st of PageList; let i = index" [value]="st.id" style="color: #495057;" >
                {{st.name}}
              </option>
            </select>
            </div>
            <div class="form-group col-md-3">
              <label for="DoorNo">Door / house</label>
              <input type="text"  [(ngModel)]="CreateFromObj.DoorNo" class="form-control" id="DoorNo" [ngModelOptions]="{standalone: true}">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="MobileNo">Mobile number </label>
              <input type="number" ngModel maxlength="10" class="form-control" id="MobileNo" placeholder="Mobile number " [(ngModel)]="CreateFromObj.MobileNo" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="AltMobileNo">Alternate number</label>
              <input type="number" ngModel maxlength="10" class="form-control" id="AltMobileNo" placeholder=" Alternate number" [(ngModel)]="CreateFromObj.AltMobileNo" [ngModelOptions]="{standalone: true}">
            </div>
          </div>

          <div class="form-row" *ngIf="isshowcvrdiv">

            <div class="form-group col-md-6">
              <label for="CVR">CVR</label>
              <input type="text"  class="form-control" id="CVR" placeholder="CVR" [(ngModel)]="CreateFromObj.CVR" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group col-md-6" *ngIf="isshoweandiv">
              <label for="EANNo">EAN number </label>
              <input type="text"  class="form-control" id="EANNo" placeholder="EANNo " [(ngModel)]="CreateFromObj.EANNo" [ngModelOptions]="{standalone: true}">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Password">Password </label>
              <input type="password" class="form-control" id="Password" placeholder="Password" [(ngModel)]="CreateFromObj.Password" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="ReapeatPassword">Repeat password</label>
              <input type="password" class="form-control" id="ReapeatPassword" placeholder=" Repeat password" [(ngModel)]="CreateFromObj.ReapeatPassword" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Captcha </label>
              <input type="text" class="form-control" id="captcha" placeholder="captcha" [(ngModel)]="Captcha" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label style="display: block;">-</label>
              <input type="text" class="form-control col-md-10 bg-w captcha" id="readCaptcha" [(ngModel)]="reCaptcha" [ngModelOptions]="{standalone: true}" readonly style="background-color: white !important;color: green !important;"><a type="submit" class="col-md-2 btn btn success fa fa-refresh cursor-pointer" data-toggle="tooltip" data-placement="top" title="Try Another Captcha"(click)="ReCaptcha()" ></a>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <div *ngIf="Captcha.length >= 4 && (Captcha != reCaptcha)" class='alert alert-danger'><span>InValid Captcha</span></div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <div *ngIf="errorMessage != '' " class='alert alert-danger'>{{errorMessage}}</div>
            </div>
          </div>

          <div class="wrapper">
              <span class="group-btn">
                 <button type="submit" [disabled] ="Captcha =='' ||(Captcha != reCaptcha)" class="btn btn-success fa fa-check-square-o cursor-pointer" (click)="createCustomer()" > <span class="font-d">
                  Create Profile</span></button>
              </span>
          </div>
            </form>

        </div>
    </div>
      <div class="col-md-2" ></div>

    </div>

 <!-- The Modal -->
 <div class="modal fade" id="myModal" [hidden]="hideModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Do we deliver to you?</h4>
        <button type="button" #closeAddExpenseModal class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-login">
          <h4>Enter your zip code</h4>
          <p>Use the address you need to have delivered to:</p>
          <form >
            <div class="form-group">
              <label for="Pincode">Zip code</label>
              <input type="number" [(ngModel)]="CreateFromObj.ZipcodeCheck" class="form-control" id="Zipcode" placeholder="Zip Code" [ngModelOptions]="{standalone: true}">
          </div>

          <span class="text-danger"  *ngIf="errorMessage != ''">
            {{errorMessage}}
           </span>
           <div class="wrapper">
            <span class="group-btn">
              <button type="submit" id="closeModal" class="btn btn-primary" (click)="CheckPincodevalidet()" > <span></span>
                Check Pincode <i class="fa fa-sign-in"></i></button>
            </span>
    </div>
          </form>

      </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
  </div>


</body>

