.ng-autocomplete {
  width:100%;
  max-width: 600px;
  display: table;
  margin: 0 auto;
}

.autocomplete-container .input-container input {
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: 0;
  // background-color: #fff;
  background-color: rgba(0,0,0,0.55) !important;
  // color: rgba(0,0,0,.87);
  color: #ffffff!important;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: darkgreen !important;
  text-decoration: none !important;
}

.autocomplete-container .suggestions-container {
  position: absolute;
  width: 100%;
  // background: #fff;
  color: #ffffff !important;
  background-color: rgba(0,0,0,0.55) !important;
  height: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  box-sizing: border-box;
}



body {

  // background-image:url('../../../../assets/img/img/1001.jpg');
  background-position:center;
  background-size:cover;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
  font-family: 'Dancing Script', cursive!important;
}

.container {
    // padding: 110px;
    margin-top: 116px;

    // margin-top: 15px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff!important;
    opacity: 1; /* Firefox */
    font-size:18px!important;
}
.form-login {
    background-color: rgba(0,0,0,0.55);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    color:white;
    box-shadow:0 1px 0 #cfcfcf;
}
.form-control{
    background:transparent!important;
    color:white!important;
    font-size: 18px!important;
}
h1{
    color:white!important;
}
h4 {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}
.text-white{
    color: white!important;
}
.wrapper {
    text-align: center;
}
.footer p{
    font-size: 18px;
}
