<!-- <div class="input-group align-center" *ngIf="Sub_Catg_ID.invalid && formDir.submitted">
  <span class="text-danger align-center" >
    Please select Item
  </span>
</div> -->
<div><div *ngIf="errorMessage != '' " class='alert alert-danger'>{{errorMessage}}</div></div>
<form >
  <div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Root Name<span class="warningclass" data-toggle="tooltip" data-placement="top" title="{{required}}">*</span></label>
      <div class="col-sm-4">
        <input class="form-control" type="text" [(ngModel)]="rootHeaderObj.Root_Name" id="Root_Name" [ngModelOptions]="{standalone: true}">
      </div>

      <label class="col-sm-2 col-form-label">Root Name (Danish)<span class="warningclass" data-toggle="tooltip" data-placement="top" title="{{required}}">*</span></label>
      <div class="col-sm-4">
        <input class="form-control" type="text" [(ngModel)]="rootHeaderObj.Root_Name_D" id="Root_Name_D" [ngModelOptions]="{standalone: true}" >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Display Seq No<span class="warningclass" data-toggle="tooltip" data-placement="top" title="{{required}}">*</span></label>
      <div class="col-sm-4">
        <input class="form-control" type="number" [(ngModel)]="rootHeaderObj.Display_Seq_No" id="Display_Seq_No" [ngModelOptions]="{standalone: true}" min="0">
      </div>
      <label class="col-sm-2 col-form-label">Status</label>
      <div class="col-sm-4">
        <select class="form-control" [(ngModel)]="rootHeaderObj.Status" id="Status"
          [attr.disabled]="isInserted == 'I' ? 'disabled' : null" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let st of StatusList; let i = index" [value]="st.id" >
            {{st.name}}
          </option>
        </select>
      </div>
    </div>

  </div>
  <br />
  <hr />
  <div class="text-center">
    <div class="form-group align-center">
      <button type="submit" class="btn btn-success fa fa-check-square-o cursor-pointer" (click)="saveRootHeader()"> <span class="font-d">
          Save</span></button> &nbsp;
      <button class="btn btn-danger fa fa-remove cursor-pointer" (click)="cancel()"><span class="font-d">
          Cancel</span></button>
    </div>
  </div>

</form>
