<!-- *********************************************** Insert-Update **********************************************  -->
<!-- <div *ngIf="IsAddEdit"> -->

  <form >
    <div>
      <div class="form-group row">

        <label class="col-sm-1 col-form-label">Year<span class="warningclass" data-toggle="tooltip" data-placement="top" title="{{required}}">*</span></label>
        <div class="col-sm-2">
          <ng-select [ngClass] ="(routeTimeObj.Year == 0 || routeTimeObj.Year == null)  && errorMessage != '' ? 'border border-danger':''"  [(ngModel)]="routeTimeObj.Year"  placeholder="Select Year"  id="Year"  [ngModelOptions]="{standalone: true}" >
            <ng-option *ngFor="let y of YearList" [value]="y.value"> {{y.label}}</ng-option>
          </ng-select>
        </div>

        <label class="col-sm-1 col-form-label">Month<span class="warningclass" data-toggle="tooltip" data-placement="top" title="{{required}}">*</span></label>
        <div class="col-sm-2">
          <ng-select [ngClass] ="(routeTimeObj.Month == 0 || routeTimeObj.Month == null)  && errorMessage != '' ? 'border border-danger':''"  [(ngModel)]="routeTimeObj.Month"  placeholder="Select Month"  id="Month"  [ngModelOptions]="{standalone: true}" (ngModelChange)="getWeekByYrMonth(routeTimeObj.Year,routeTimeObj.Month,false)">
            <ng-option *ngFor="let m of MonthList" [value]="m.id"> {{m.name}}</ng-option>
          </ng-select>
        </div>
        <label class="col-sm-1 col-form-label">Week<span class="warningclass" data-toggle="tooltip" data-placement="top" title="{{required}}">*</span></label>
        <div class="col-sm-3">
          <ng-select [ngClass] ="(routeTimeObj.Week == 0 || routeTimeObj.Week == null)  && errorMessage != '' ? 'border border-danger':''"  [(ngModel)]="routeTimeObj.Week"  placeholder="Select Week"  id="Week"  [ngModelOptions]="{standalone: true}" >
            <ng-option *ngFor="let w of WeekList" [value]="w.id"> {{w.name}}</ng-option>
          </ng-select>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-success fa fa-check-square-o cursor-pointer" (click)="viewWeekData()"> <span class="font-d">
            View</span></button>
        </div>

      </div>
    </div>
    <div><div class='text-danger f-12'><span>{{warningMessage}}</span></div></div>
    <hr />

  </form>

<!-- </div> -->

<!-- *********************************************** Data List **********************************************  -->

<div *ngIf="isViewVehicleRouteTimeMap">

  <form>
    <div class="row">
            <div class="card col-sm-12" *ngFor="let item of routeTimeMasterList; index as i;">
              <div class="card-body">
                <h5 class="card-title">Week: {{item.Week}} - Day: {{item.Day}} - ( {{item.Route_Date_Dt}} )</h5>
                <p class="card-text"></p>
                <a (click) ="DisplayVehicleRoute(i)" class="btn btn-success text-white">Add Vehicle Route</a>
                <div *ngIf="item.IsTableOpen">
                    <div class="table-responsive table-bordered table-hover">
                      <table class="table-resposive" id="{{item.Day}}_{{item.Week}}_{{i}}" style="margin-bottom: 100px;">
                        <tr>
                          <th style="min-width: 220px;">Vehicle</th>
                          <!-- <th style="min-width: 150px;">Category</th> -->
                          <th style="min-width: 300px;">Route</th>
                          <th style="min-width: 100px;">Start Time</th>
                          <th style="min-width: 100px;">Start Time</th>
                          <th style="min-width: 60px;">Action</th>
                        </tr>

                        <tr *ngFor="let vehicle of item.VehicleRouteList; index as rowIndex; ">
                          <td style="min-width: 220px;">
                            <!-- <ng-select [(ngModel)]="vehicle.Vehicle_Id"  placeholder="Select Vehicle"  id="Vehicle_Id_{{in}}"  [ngModelOptions]="{standalone: true}">
                            <ng-option *ngFor="let scat of VehicleList" [value]="scat.id"> {{scat.name}}</ng-option>
                          </ng-select> -->

                          <ng-select [ngClass] ="(vehicle.Vehicle_Id == 0 || vehicle.Vehicle_Id == null)  && errorMessage != '' ? 'border border-danger':''"
                            [items]="VehicleList" [(ngModel)]="vehicle.Vehicle_Id" name="licenseAuthorityId" bindValue="id" bindLabel="name" id="Vehicle_Id_{{rowIndex}}"
                            (ngModelChange)="GetVehicleCategoryByVehicleId(vehicle.Vehicle_Id,i,rowIndex)" placeholder="Select Vehicle">
                            </ng-select>
                        </td>
                        <!-- <td> <input class="form-control" type="text" [(ngModel)]="item.Vehicle_CategoryDesc" id="Vehicle_CategoryDesc_{{in}}" [ngModelOptions]="{standalone: true}"></td> -->

                          <td style="min-width: 400px;">
                            <ng-select [ngClass] ="(vehicle.Route_Id == 0 || vehicle.Route_Id == null)  && errorMessage != '' ? 'border border-danger':''" [multiple]="false"
                            [items]="RouteList" [(ngModel)]="vehicle.Route_Id" name="licenseAuthorityId" bindValue="id" bindLabel="name" id="Route_Id_{{rowIndex}}" placeholder="Select Route">
                            </ng-select>
                          </td>
                            <td> <input class="form-control" type="time" [(ngModel)]="vehicle.Route_Start_Time" id="Route_Start_Time_{{rowIndex}}" [ngModelOptions]="{standalone: true}"></td>
                            <td><input class="form-control" type="time" [(ngModel)]="vehicle.Route_End_Time" id="Route_End_Time_{{rowIndex}}" [ngModelOptions]="{standalone: true}"></td>
                            <td style="min-width: 60px;"><a class=" ti-trash delete" data-toggle="tooltip" data-placement="top" title="{{deleteTooltip}}" (click)="clearRecordItem(i,rowIndex)"></a></td>
                        </tr>
                        <tr>
                          <td *ngIf="item.VehicleRouteList.length == 0" colspan="3">No items found</td>
                        </tr>

                      </table>

                    </div>
                    <div class="modal-footer align-center" *ngIf="item.VehicleRouteList.length > 0">
                      <button type="button" class="btn btn-success" (click)="saveVehicleRouteTimeMapList(i)">Save</button>
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                      </div>

                </div>
              </div>
            </div>
    </div>
    <hr />
        <!-- <div class="text-center">
          <div>
            <div *ngIf="errorMessage != '' " class='alert alert-danger'>{{errorMessage}}</div>
          </div>
          <div class="form-group align-center">
            <button *ngIf="routeTimeMasterList.length >0" type="submit" class="btn btn-success fa fa-check-square-o cursor-pointer" (click)="saveVehicleRouteTimeMapList()"> <span class="font-d">
                Save</span></button> &nbsp;
            <button class="btn btn-danger fa fa-remove cursor-pointer" (click)="cancel()"><span class="font-d">
                Cancel</span></button>
          </div>
        </div> -->
  </form>
</div>

