<div *ngIf="IsAddEdit">
  <div><div class='alert alert-danger'><span>All * fields are mandatory</span></div></div>
  <form>
    <div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Root Name<span class="warningclass">*</span></label>
        <div class="col-sm-4">
          <input class="form-control" [ngClass] ="rootHeaderObj.Root_Name == '' && errorMessage != '' ? 'alert-danger':''" type="text" [(ngModel)]="rootHeaderObj.Root_Name" id="Root_Name" [ngModelOptions]="{standalone: true}">
        </div>

        <label class="col-sm-2 col-form-label">Root Name (Danish)<span class="warningclass">*</span></label>
        <div class="col-sm-4">
          <input class="form-control" [ngClass] ="rootHeaderObj.Root_Name_D == '' && errorMessage != '' ? 'alert-danger':''" type="text" [(ngModel)]="rootHeaderObj.Root_Name_D" id="Root_Name_D" [ngModelOptions]="{standalone: true}" >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Display Seq No<span class="warningclass">*</span></label>
        <div class="col-sm-4">
          <input class="form-control" [ngClass] ="(rootHeaderObj.Display_Seq_No == 0 || rootHeaderObj.Display_Seq_No == null) && errorMessage != '' ? 'alert-danger':''" type="number" [(ngModel)]="rootHeaderObj.Display_Seq_No" id="Display_Seq_No" [ngModelOptions]="{standalone: true}" min="0">
        </div>
        <label class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-4">
          <select class="form-control" [(ngModel)]="rootHeaderObj.Status" id="Status"
            [attr.disabled]="isInserted == 'I' ? 'disabled' : null" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let st of StatusList; let i = index" [value]="st.id" >
              {{st.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <hr />
    <div class="text-center">
      <div class="form-group align-center">
        <button type="submit" class="btn btn-success fa fa-check-square-o cursor-pointer" (click)="saveRootHeader()"> <span class="font-d">
            Save</span></button> &nbsp;
        <button class="btn btn-danger fa fa-remove cursor-pointer" (click)="cancel()"><span class="font-d">
            Cancel</span></button>
      </div>
    </div>
  </form>
</div>

<!-- ________________________List Data__________________________________ -->
<div *ngIf="IsRowEdit"><div class='alert alert-danger'><span>All * fields are mandatory</span></div></div>
<div class="row">
  <div class="col-sm-12">
      <app-card [title]="'Root Header Master'" [classHeader]="true" [blockClass]="'table-border-style'">
        <div class="table-responsive">
            <p>
              <!-- <a class="btn btn-success float-right" [routerLink]="['/add-edit-item']">Add New</a>   -->
              <a class="btn btn-success float-right text-white m-b-10 m-r-20 fa fa-plus-circle cursor-pointer" (click)="addEditOpen(0)"><span class="font-d"> Add New</span></a>
            </p>
              <br/>
              <br/>

            <p-table class="" #dt [value]="rootHeaderMaster" [(selection)]="selectedRootHeaderMaster" dataKey="id" [autoLayout]="true" styleClass="p-datatable-d" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0" [globalFilterFields]="['Root_Name']">

              <ng-template pTemplate="caption">
                <div class="table-header-p ">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input class="p-l-30 form-control" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                    </span>
                </div>
              </ng-template>
              <br/>
              <br/>
              <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="Root_Name">Root Name<span class="warningclass" *ngIf="IsRowEdit">*</span><p-sortIcon field="Root_Name"></p-sortIcon></th>
                  <th pSortableColumn="Root_Name_D">Root Name (Danish)<span class="warningclass" *ngIf="IsRowEdit">*</span> <p-sortIcon field="Root_Name_D"></p-sortIcon></th>
                  <th pSortableColumn="StatusDesc">Status<span class="warningclass" *ngIf="IsRowEdit">*</span> <p-sortIcon field="Display_Seq_No"></p-sortIcon></th>
                  <th pSortableColumn="Display_Seq_No">Display Seq No <p-sortIcon field="Display_Seq_No"></p-sortIcon></th>
                  <th pSortableColumn="Deleted">IsDeleted <p-sortIcon field="Deleted"></p-sortIcon></th>
                  <th >Action </th>
              </tr>
              <tr>

                  <th>
                      <input pInputText type="text" (input)="dt.filter($event.target.value, 'Root_Name', 'startsWith')" placeholder="Search by Root" class="form-control">
                  </th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                   <th></th>

              </tr>
              </ng-template>

              <ng-template pTemplate="body" let-item>
              <tr class="">  <!-- p-selectable-row  -->

                  <td>
                   <span *ngIf="!item.isEditable">{{item.Root_Name}}</span>
                    <input type="text" [ngClass] ="item.Root_Name == '' && errorMessage != '' ? 'alert-danger':''"  class="form-control" [(ngModel)]="item.Root_Name" *ngIf="item.isEditable"/>
                        <!-- {{item.Root_Name}} -->
                  </td>
                  <td>
                         <span *ngIf="!item.isEditable">{{item.Root_Name_D}}</span>
                    <input type="text" [ngClass] ="item.Root_Name_D == '' && errorMessage != '' ? 'alert-danger':''"  class="form-control" [(ngModel)]="item.Root_Name_D" *ngIf="item.isEditable"/>
                    <!-- {{item.Root_Name_D}} -->
                  </td>
                  <td>
                  <span *ngIf="!item.isEditable">{{item.StatusDesc}}</span>
                    <div *ngIf="item.isEditable">
                      <select class="form-control" [(ngModel)]="item.Status" id="Status"
                        [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let st of StatusList; let i = index" [value]="st.id" >
                          {{st.name}}
                        </option>
                      </select>

                      <!-- <input class="form-control" type="text" [(ngModel)]="item.Status" value="{{item.StatusDesc}}"> -->
                    </div>

                        <!-- {{item.StatusDesc}} -->
                  </td>
                   <td>
                          <span *ngIf="!item.isEditable">{{item.Display_Seq_No}}</span>
                    <input type="text" class="form-control" [ngClass] ="(item.Display_Seq_No == '' ||item.Display_Seq_No == '0')  && errorMessage != '' ? 'alert-danger':''"  [(ngModel)]="item.Display_Seq_No" *ngIf="item.isEditable"/>
                        <!-- {{item.Display_Seq_No}} -->
                  </td>
                  <td style = "width: 230px;">
                    {{item.Deleted}} <span *ngIf="item.Deleted =='Yes'"><button type="button" class="float-right btn btn-success text-white " (click) = "activateItem(item.Root_Header_ID)">Make Active</button> </span>
                  </td>
                  <td>
                      <div *ngIf="!item.isEditable">
                        <a class="ti-pencil-alt edit" (click)="openEditPage(item)"></a>
                        &nbsp;<a class=" ti-trash delete" (click)="deleteItem(item.Root_Header_ID)"></a>
                      </div>
                      <div *ngIf="item.isEditable">
                        <button class="btn btn-sm btn-success" (click)="updateRootHeader(item)">Update</button>
                        &nbsp;<button class="btn btn-sm btn-danger" (click)="cancelUpdate(item)">Cancel</button>
                      </div>

                          <!-- <a class="ti-pencil-alt edit" (click)="addEditOpen(item.Root_Header_ID)"></a>
                          &nbsp;<a class=" ti-trash delete" (click)="deleteItem(item.Root_Header_ID)"></a> -->
                             <!-- &nbsp;<a class=" ti-eye view" (click)="deleteItem(item.Item_ID)"></a> -->
                  </td>
              </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
              <tr>
              <td colspan="5">No items found</td>
              </tr>
              </ng-template>
          </p-table>
        </div>
     </app-card>
  </div>
</div>

