

<div id="all" class="" style="margin-top: 15px;">
  <div id="content">
      <div class="container">
          <ul class="breadcrumb justify-content-md-end justify-content-center">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">GROCERIES      </li>
          </ul>
          <div class="col-md-3" style="float: left;">
            <!--  *** MENUS AND FILTERS ***-->
            <div class="card sidebar-menu" style="box-shadow:none !important">
                <div class="card-header p-3">
                    <h5 class="mb-0 text-uppercase block-title">Groceries</h5>
                </div>

                <div class="card-body py-0">
                  <div id="accordion" role="tablist" class="mb-3">
                    <!-- <jw-pagination [items]="Catg_Master" (changePage)="onChangePage($event)"></jw-pagination> -->
                    <div class="card" *ngFor="let notification of Catg_Master; let i=index;" style="box-shadow:none !important">
                      <div class="card-header py-1 px-0 sortable catname" id="headingOne" (click)="SubCategoryList(notification.Catg_ID,i)">
                              {{ notification.Catg_Name }}
                      </div>
                  </div>
                  </div>
                </div>
            </div>

            <div class="card sidebar-menu" style="box-shadow:none !important">
              <div class="card-header p-3 d-flex align-items-center justify-content-between">
                  <h5 class="mb-0 text-uppercase block-title">Filter </h5>

              </div>
              <!-- <hr/> -->
              <div class="card-body py-0" *ngIf="IsSubCategory">
                  <form>
                      <div class="form-group mb-1" *ngFor="let scat of Sub_Catg_Master;">
                          <div class="custom-control custom-checkbox">
                              <input [id]="'scat'+scat.Sub_Catg_ID"  [(ngModel)]="scat.IsChecked" style="cursor:pointer" type="checkbox" name="clothes-brand"  class="custom-control-input" (change)="onChangeSubCategoryList($event.target.checked, scat)">
                              <label [for]="'scat'+scat.Sub_Catg_ID" class="custom-control-label">{{scat.Sub_Catg_Name}}</label>
                          </div>
                      </div>
                      <!-- <button class="btn btn-outline-secondary btn-sm mt-3" (click)="GetGetitemByFilterType('Brand')" ><i class="fa fa-pencil"></i> Apply</button> -->
                  </form>
              </div>
              <div *ngIf="!IsSubCategory" class="card-body py-0 text-small text-left mb-3">
                <span class="card-header py-1 px-0" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Filter not available</span>
              </div>
          </div>

            <div class="card sidebar-menu" style="box-shadow:none !important">
                <div class="card-header p-3 d-flex align-items-center justify-content-between">
                    <h5 class="mb-0 text-uppercase block-title">Brands <a *ngIf="BrandMaster_ != null && BrandMaster_.length > 0" (click)="ClearbrandFilter(Sub_Catg_Master.length > 0 ? 'Y' : 'N')" class="btn btn-sm btn-danger pull-right p-0" style="color: white;"><i class="fa fa-times-circle"></i><span class="d-none d-lg-inline-block m-0" style="color: white;" ><small>Clear</small></span></a></h5>
                </div>
                <div class="card-body py-0">
                    <form>
                        <div class="form-group mb-1" *ngFor="let Brand of BrandMaster_;">
                            <div class="custom-control custom-checkbox">
                                <input [id]="'brand'+Brand.Brand_ID"  [(ngModel)]="Brand.IsChecked" style="cursor:pointer" type="checkbox" name="clothes-brand"  class="custom-control-input" (change)="onChangeBrandCategory($event.target.checked, Brand)">
                                <label [for]="'brand'+Brand.Brand_ID" class="custom-control-label">{{Brand.Brand_Name}} <small>({{Brand.BrandQty}})</small></label>
                            </div>
                        </div>
                        <!-- <button class="btn btn-outline-secondary btn-sm mt-3" (click)="GetGetitemByFilterType('Brand')" ><i class="fa fa-pencil"></i> Apply</button> -->
                    </form>
                </div>
            </div>

            <div class="card sidebar-menu" style="box-shadow:none !important">
              <div class="card-header p-3 d-flex align-items-center justify-content-between">
                  <h5 class="mb-0 text-uppercase block-title">Type <a *ngIf="TypeMaster_ != null && TypeMaster_.length > 0" (click)="ClearTypeFilter(Sub_Catg_Master.length > 0 ? 'Y' : 'N')" class="btn btn-sm btn-danger pull-right p-0" style="color: white;"><i class="fa fa-times-circle"></i><span class="d-none d-lg-inline-block m-0" style="color: white;"><small>Clear</small></span></a></h5>
              </div>
              <div class="card-body py-0">
                  <form>
                      <div class="form-group mb-1" *ngFor="let Type_ of TypeMaster_;">
                          <div class="custom-control custom-checkbox">
                              <input [id]="'Type'+Type_.Type_ID" [(ngModel)]="Type_.IsChecked" type="checkbox" name="clothes-brand"  class="custom-control-input" (change)="onChangeTypeCategory($event.target.checked, Type_)">
                              <label [for]="'Type'+Type_.Type_ID" class="custom-control-label">{{Type_.Type_Name}} <small>({{Type_.TypeQty}})</small></label>
                          </div>
                      </div>
                      <!-- <button class="btn btn-outline-secondary btn-sm mt-3"(click)="GetGetitemByFilterType('Type')" ><i class="fa fa-pencil"></i> Apply</button> -->
                  </form>
              </div>
          </div>

          <div class="card sidebar-menu m-b-70" style="box-shadow:none !important">
            <div class="card-header p-3 d-flex align-items-center justify-content-between">
                <h5 class="mb-0 text-uppercase block-title">Price</h5>
            </div>
            <div class="card-body pt-2">
                  <ng5-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="options" (mouseleave)="GetItemsByPriceFilter()"></ng5-slider>
                  <!-- <input type="text" [(ngModel)]="minPrice" (keypress)="GetItemsByPriceFilter()">  <input type="text" [(ngModel)]="maxPrice" (keypress)="GetItemsByPriceFilter()"> -->
            </div>
        </div>
        </div>
          <div class="box text-center col-md-9 offset-md-3 border-0">
              <div class="row">
                  <div class="col-md-12 ">  <!-- offset-md-1 -->
                      <img src="{{CatCoverImage}}" style="width: 100%; height: 25vh">
                  </div>
              </div>
          </div>
          <div class="row">
              <!-- *** LEFT COLUMN ***-->

              <!-- /.col-md-3-->
              <!-- *** LEFT COLUMN END ***-->
              <!-- *** RIGHT COLUMN ***-->
              <div class="col-md-12 p-0">
                  <div class="info-bar">
                      <div class="row">
                          <div class="col-lg-4 products-showing">Showing <strong>{{ totalItems == 0 ? 0 : showingItems}}</strong> of <strong>{{totalItems}}</strong> products</div>
                          <div class="col-lg-8 products-number-sort">
                              <form class="form-inline"></form>
                              <div class="row">
                                  <div class="col-6 col-lg-6">
                                    <ul class="products-sort-by d-flex  pagination justify-content-center">
                                      <strong>Show </strong>
                                      <select class="goto-page" #mySelect (change)='GetItemByPageSize(mySelect.value)' [disabled] = "totalItems == 0">
                                        <option value="" *ngIf="totalItems == 0" [attr.selected]="totalItems == 0?true : null">0</option>
                                        <option *ngFor='let item  of ShowItemList'  value="{{item}}" [attr.selected]="item == pageSize ? true : null">{{item}}</option>
                                        <option value="0">All</option>
                                      </select>
                                  </ul>
                                      <!-- <div class="products-number"><strong>Show</strong><a href="#" class="btn btn-sm btn-outline-primary mr-1">12</a> <a href="#" class="btn btn-outline-secondary btn-sm mr-1">24</a> <a href="#" class="btn btn-outline-secondary btn-sm mr-1">All</a> products</div> -->
                                  </div>
                                  <div class="col-6 col-lg-6">
                                      <div class="d-flex justify-content-end">
                                          <strong>Sort by</strong>
                                          <select name="sort-by" #sortby class=" m-l-10 goto-page wd-155"  (change)='GetItemSortBy(sortby.value)' [disabled] = "totalItems == 0">
                                            <option *ngFor='let item  of SortByList' value="{{item.id}}" [attr.selected]="item.id == sortBy ? true : null">{{item.name}}</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- <div class="banner">
                    <div class="card">
                    <div  class="card-header mb-1">
                      Most Popular Items
                    </div>
                    <div id="carouselExample" class="carousel slide mb-1" data-ride="carousel" data-interval="900000">
                      <div class="carousel-inner row w-100 mx-auto" role="listbox">
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2" *ngFor="let item3  of Item_Masters; let i=index"  [ngClass]="{'active': i == 0}">
                              <div class="card">
                                <img class="card-img-top img-fluid" src="https://images.freeimages.com/images/large-previews/85a/daisy-s-1375598.jpg"  width="100" height="100" alt="Card image cap">
                                <div class="card-body">
                                  <h4 class="card-title">{{item3.Item_Name}}</h4>

                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>

                                <div class="card-footer">
                                  <samp class="text-muted">{{currency}}{{item3.Price}}</samp>
                                  <i class="ti-shopping-cart cartalign"></i>
                                </div>
                          </div>
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                          <i class="fa fa-chevron-left fa-lg text-muted"></i>
                          <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                          <i class="fa fa-chevron-right fa-lg text-muted"></i>
                          <span class="sr-only">Next</span>
                      </a>
                  </div>
                  </div>
                </div> -->
                  <div class="row products" (*ngIf)="totalItems > 0">

                    <div class="col-md-4 col-sm-6" *ngFor='let item4  of Item_Masters; let isFirst = firstl'>
                      <div class="product" >
                          <div class="image">
                              <a href="#" data-toggle="modal" data-target="#product-quick-view-modal"><img src="/assets/img/img/No-Image.jpg" alt="" class="img-fluid image1"></a>
                              <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                          </div>
                          <!-- /.image-->
                          <div class="text">
                              <h3><a>{{item4.Item_Name}}</a></h3>
                              <p class="card-text text-left  mb-0">Price: <span class="font-weight-bold float-right text-success">{{currency}}{{item4.Price}}</span></p>

                              <p class="card-text text-left">Stock left: <span class="font-weight-bold float-right text-danger">{{item4.Qty}}</span></p>

                              <div class="F8dpS _3L1X9" *ngIf="item4.showaddbtn" (click)="toggleShow(item4)">
                                <div  class="_1RPOp _1uN_a" (click)="addToCart(item4)" >ADD</div>
                                <div class="_1ds9T _2WdfZ _4aKW6">+</div>
                                <div class="_29Y5Z _20vNm _4aKW6"></div>
                                <div class="_2zAXs _2quy- _4aKW6">0</div>
                              </div>
                              <div class="F8dpS _3L1X9" *ngIf="item4.showplusebtn">
                                <div class="_1RPOp _36fT9 _4aKW6">ADD</div>
                                <div class="_1ds9T _2Thnf" (click)="PluseQty(item4)" >+</div>
                                <div class="_29Y5Z _2od4M" (click)="minuseQty(item4)">-</div>
                                <div class="_2zAXs _18lJJ">{{item4.OrderQty}}</div>
                              </div>

                              <!-- <p class="text-center">
                                <button type="submit" class="btn btn-outline-primary" (click)="addToCart(item4)" ><i class="fa fa-shopping-cart"></i></button>
                                <button type="submit" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="btn btn-outline-secondary"><i class="fa fa-heart-o"></i></button>
                              </p> -->
                              <!-- <p class="price">
                                 {{currency}}{{item4.Price}}
                              </p>

                              <p class="price">
                                <i class="ti-shopping-cart"></i>
                             </p> -->
                          </div>
                          <!-- /.text-->

                            <div class="ribbon sale" style="top: -30px;">
                            <div class="theribbon" (click)="onClickwhishlist(item4)"  ><i class="fa fa-heart-o" [ngClass]="{'active': item4.Activewishlist}"></i></div>
                            <div class="ribbon-background"></div>
                            </div>
                          <!-- <div class="ribbon sale">
                              <div class="theribbon">SALE</div>
                              <div class="ribbon-background"></div>
                          </div> -->
                          <!-- /.ribbon-->
                          <div class="ribbon new">
                              <div class="theribbon">NEW</div>
                              <div class="ribbon-background"></div>
                          </div>
                          <!-- /.ribbon-->
                      </div>
                      <!-- /.product-->
                    </div>
                      <!-- /.col-md-4-->
                      <div id="product-quick-view-modal" tabindex="-1" role="dialog" aria-hidden="false" class="modal fade">
                          <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                  <div class="modal-body">
                                      <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                                      <div class="row quick-view product-main">
                                          <div class="col-sm-6">
                                              <div class="quick-view-main-image"><img src="/assets/img/img/No-Image.jpg" alt="" class="img-fluid"></div>
                                              <div class="ribbon ribbon-quick-view sale">
                                                  <div class="theribbon">SALE</div>
                                                  <div class="ribbon-background"></div>
                                              </div>
                                              <!-- /.ribbon-->
                                              <div class="ribbon ribbon-quick-view new">
                                                  <div class="theribbon">NEW</div>
                                                  <div class="ribbon-background"></div>
                                              </div>
                                              <!-- /.ribbon-->
                                              <div class="row thumbs">
                                                  <!-- <div class="col-4"><a href="img/detailbig1.jpg" class="thumb"><img src="https://d19m59y37dris4.cloudfront.net/minimal/2-1-1/img/detailsquare.jpg" alt="" class="img-fluid"></a></div>
                                                  <div class="col-4"><a href="img/detailbig2.jpg" class="thumb"><img src="https://d19m59y37dris4.cloudfront.net/minimal/2-1-1/img/detailsquare2.jpg" alt="" class="img-fluid"></a></div>
                                                  <div class="col-4"><a href="img/detailbig3.jpg" class="thumb"><img src="https://d19m59y37dris4.cloudfront.net/minimal/2-1-1/img/detailsquare3.jpg" alt="" class="img-fluid"></a></div> -->
                                              </div>
                                          </div>
                                          <div class="col-sm-6">
                                              <h2>Item Name</h2>
                                              <p class="text-muted text-small text-center">Item Description</p>
                                              <div class="box">
                                                  <form>
                                                      <!-- <div class="sizes">
                                                          <h3>Available sizes</h3>
                                                          <label for="size_s">
                                                              <a href="#">S</a>
                                                              <input id="size_s" type="radio" name="size" value="s" class="size-input">
                                                          </label>
                                                          <label for="size_m">
                                                              <a href="#">M</a>
                                                              <input id="size_m" type="radio" name="size" value="m" class="size-input">
                                                          </label>
                                                          <label for="size_l">
                                                              <a href="#">L</a>
                                                              <input id="size_l" type="radio" name="size" value="l" class="size-input">
                                                          </label>
                                                      </div> -->
                                                      <p class="price">{{currency}}124.00</p>
                                                      <p class="text-center">
                                                          <button type="submit" class="btn btn-outline-primary"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                                                          <button type="submit" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="btn btn-outline-secondary"><i class="fa fa-heart-o"></i></button>
                                                      </p>
                                                  </form>
                                              </div>
                                              <!-- /.box-->
                                              <div class="quick-view-social">
                                                  <h4>Show it to your friends</h4>
                                                  <p><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- /.modal-dialog-->
                      </div>
                      <!-- /.modal-->


                  </div>
                  <div class="info-bar" *ngIf="totalItems == 0">
                    <div class="row">
                      <div class="col-md-12 p-0 text-center text-theme f-18">
                        <span> {{noRecordFound}}</span>
                      </div>
                    </div>
                </div>
                  <!-- /.products-->

                  <nav aria-label="Page navigation example m-b-40" style="margin-bottom: 120px !important;" *ngIf="totalItems>0">
                    <ul class="pagination justify-content-center">
                      <li class="page-item disabled">
                        <a class="page-link" tabindex="-1">Go to page</a>
                      </li>
                      <li class="page-item" >
                        <select class="goto-page" #myPageNo (change)='GetItemByPageNo(myPageNo.value)'>
                          <!-- <option value="0">All</option> -->
                          <option *ngFor='let item  of PaginationList' value="{{item}}" [attr.selected]="item == pageNo ? true : null">{{item}}</option>
                        </select>
                      </li> &nbsp;

                        <li class="page-item" [ngClass] = "isFirstPageDisabled ? 'disabled' :''">
                            <a class="page-link" (click) = "GetItemByPageNo(firstPageNo)" tabindex="-1">First</a>
                          </li>
                      <li class="page-item" [ngClass] = "isFirstPageDisabled ? 'disabled' :''">
                        <a class="page-link" (click) = "GetItemByPageNo(pageNo ==firstPageNo ? firstPageNo : pageNo - 1)" tabindex="-1">Previous</a>
                      </li>
                      <li class="page-item" *ngFor='let item  of PaginationList' [ngClass]="item == pageNo ? 'active' :''"><a class="page-link" (click) = "GetItemByPageNo(item)">{{item}}</a></li>
                      <li class="page-item" [ngClass] = "isLastPageDisabled ? 'disabled' :''">
                        <a class="page-link" (click) = "GetItemByPageNo(pageNo ==lastPageNo ? lastPageNo : pageNo +1)">Next</a>
                      </li>
                      <li class="page-item" [ngClass] = "isLastPageDisabled ? 'disabled' :''">
                        <a class="page-link" (click) = "GetItemByPageNo(lastPageNo)">Last</a>
                      </li>
                    </ul>
                  </nav>

              </div>
              <!-- /.col-md-9-->
              <!-- *** RIGHT COLUMN END ***-->
          </div>
      </div>
  </div>

</div>
<script type="text/javascript">
  $('input').popup();
  </script>







