
li { cursor: pointer; }

input[type="checkbox"] {
  cursor: pointer;
}

.F8dpS {
  position: absolute;
  bottom: 8px;
  width: 96px;
  min-height: 36px;
  line-height: 36px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

._3L1X9 {
  display: inline-block;
  height: 30px;
  width: 83px;
  border: 1px solid #d4d5d9;
  color: #60b246;
  font-size: .9rem;
  font-weight: 600;
  line-height: 30px;
  position: relative;
  text-align: center;
  background-color: #fff;
}
._1RPOp {
  color: #60b246;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
._4aKW6 {
  display: none!important;
}
._2Thnf {
  animation: _1gckB .2s ease;
}
._1ds9T {
  position: absolute;
  right: 0;
  top: 0;
  width: 33.33333%;
  display: inline-block;
  opacity: 1;
  transform: translateZ(0);
  cursor: pointer;
  font-size: 150%;
  font-weight: 600;
}
._2od4M {
  animation: _1vozQ .2s ease;
}

._29Y5Z {
  position: absolute;
  left: 0;
  top: 0;
  width: 33.33333%;
  display: inline-block;
  opacity: 1;
  transform: translateZ(0);
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
}

._18lJJ {
  animation: akcss .2s ease;
}

._2zAXs {
  position: absolute;
  left: 33.33333%;
  top: 0;
  width: 33.33333%;
  display: inline-block;
  opacity: 1;
  transform: translateZ(0);
  cursor: pointer;
}

._1RPOp:hover {
  position: relative;
  box-shadow: 0 2px 8px #d4d5d9;
}

._1RPOp {
  color: #60b246;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
._2WdfZ {
  animation: _1sXH- .2s ease;
  opacity: 0;
  transform: translateZ(0);
}
._4aKW6 {
  display: none!important;
}
._20vNm {
  animation: _3TzA_ .2s ease;
  opacity: 0;
  transform: translateZ(0);
}
._4aKW6 {
  display: none!important;
}
._4aKW6 {
  display: none!important;
}
._2quy- {
  animation: _1TAw_ .2s ease;
  opacity: 0;
  transform: translate3d(0,-7.5px,0);
}
.cartalign{
  float: right;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Show 3rd slide on md  if col-md-4*/
        .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }

}

@media (min-width: 576px) and (max-width: 768px) {
  /* Show 2 slide on md  if col-md-4*/
        .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }

}
@media (min-width: 576px) {
  .carousel-item {
  margin-right: 0;
}

    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

/*MD*/
@media (min-width: 768px) {

    /* show 3rd of 3 item slide */
  .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }


    .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
    }


    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}


/*LG 6th*/
@media (min-width: 991px) {

    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }




    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

/*LG 6th*/
@media (min-width: 991px) {

        /* show 5th and 6th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }



    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      transition: none;
    }



  /*show 7th slide for animation when its a 6 slides carousel */
       .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item  + .carousel-item {
        position: absolute;
        top: 0;
        right: -16.666666666%;
        z-index: -1;
        display: block;
        visibility: visible;
  }

      /* forward direction > */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

      /* prev direction < last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}


.sortable {
  cursor: pointer;
  cursor: hand;
}
.check-list {
  margin: 0;
  padding-left: 1.2rem;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #00a8a8;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.card-header .block-title {
  position: relative;
  font-size: 16px;
  color: #222;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-bottom: 15px;
  line-height: 100%;
  border-bottom: 1px solid #dddddd;
  width: 100%;
}

.card-header .block-title:before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 100px;
  position: absolute;
  left: 0px;
  bottom: -1px;
  background: #ff5500;
}


.ng5-slider .ng5-slider-pointer {
  cursor: pointer !important;
  width: 20px !important;
  height: 20px !important;
  top: -8px !important;
  background-color: #0db9f0 !important;
  z-index: 3 !important;
  border-radius: 16px !important;
}

.ng5-slider .ng5-slider-span {
  white-space: nowrap !important;
  position: absolute !important;
  display: inline-block !important;
}

.ng5-slider .ng5-slider-pointer:after {
  content: '' !important;
  width: 5px !important;
  height: 5px !important;
  position: absolute !important;
  top: 8px !important;
  left: 8px !important;
  border-radius: 5px !important;
  background: #fff !important;
}

.catname:hover {
  color: #ff5500 !important; }

  .info-bar {
    /* border: 1px solid #ddd !important; */
    line-height: 32px !important;
    vertical-align: middle !important;
    padding: 1rem !important;
    background: rgb(255, 255, 255) !important;
    margin-bottom: 2rem !important;
}
