<!-- *********************************************** Insert-Update **********************************************  -->
<div *ngIf="IsAddEdit">
  <div><div class='alert alert-danger'><span>{{warningMessage}}</span></div></div>
  <form >
    <div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Vehicle No<span class="warningclass">*</span></label>
        <div class="col-sm-4">
          <input class="form-control"  [ngClass] ="vehicleObj.Vehicle_No == '' && errorMessage != '' ? 'alert-danger':''" type="text" [(ngModel)]="vehicleObj.Vehicle_No" id="Vehicle_No" [ngModelOptions]="{standalone: true}">
        </div>
        <label class="col-sm-2 col-form-label">Vehicle Type<span class="warningclass">*</span></label>
        <div class="col-sm-4">
          <select class="form-control" [(ngModel)]="vehicleObj.Vehicle_Type" id="Vehicle_Type"
            [ngModelOptions]="{standalone: true}">
            <option *ngFor="let st of VehicleTypeList; let i = index" [value]="st.id" >
              {{st.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Vehicle Category</label>
        <div class="col-sm-4">
          <ng-select [items]="VehicleCategoryList" [(ngModel)]="vehicleObj.Vehicle_Category" name="licenseAuthorityId" bindValue="id" bindLabel="name" placeholder="Select Category"> </ng-select>
        </div>
        <label class="col-sm-2 col-form-label">Manufacture By</label>
        <div class="col-sm-4">
          <ng-select [items]="ManufactureByList" [(ngModel)]="vehicleObj.Manufacture_By" name="Manufacture_By" bindValue="id" bindLabel="name" placeholder="Select Manufacture By"> </ng-select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Model Name</label>
        <div class="col-sm-4">
          <input class="form-control"  type="text" [(ngModel)]="vehicleObj.Model_Name" id="Model_Name" [ngModelOptions]="{standalone: true}">
        </div>
        <label class="col-sm-2 col-form-label">Manufacture Year</label>
        <div class="col-sm-4">
          <input class="form-control"  type="text" [(ngModel)]="vehicleObj.Manufacture_Year" id="Manufacture_Year" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Reg No</label>
        <div class="col-sm-4">
          <input class="form-control"  type="text" [(ngModel)]="vehicleObj.Reg_No" id="Reg_No" [ngModelOptions]="{standalone: true}">
        </div>
        <label class="col-sm-2 col-form-label">Reg Type</label>
        <div class="col-sm-4">
          <ng-select [items]="RegTypeList" [(ngModel)]="vehicleObj.Reg_Type" name="Reg_Type" bindValue="id" bindLabel="name" placeholder="Select Reg Type"> </ng-select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Measurement Method</label>
        <div class="col-sm-4">
          <ng-select [items]="MeasurementList" [(ngModel)]="vehicleObj.Measurement_Method" name="Measurement_Method" bindValue="id" bindLabel="name" placeholder="Select Measurement Method"> </ng-select>
        </div>
        <label class="col-sm-2 col-form-label">Remark</label>
        <div class="col-sm-4">
          <input class="form-control"  type="text" [(ngModel)]="vehicleObj.Remark" id="Remark" [ngModelOptions]="{standalone: true}">
        </div>


      </div>
      <div class="form-group row">
         <label class="col-sm-2 col-form-label">Reg Effective From</label>
        <div class="col-sm-4">
          <mat-form-field appearance="fill" >
            <mat-label>Choose a date</mat-label>
            <input class="" matInput [matDatepicker]="fromDate" [(ngModel)]="vehicleObj.Reg_Effectivefrom_date" id="Reg_Effectivefrom_date" [ngModelOptions]="{standalone: true}">
            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
          <!-- <input class="form-control"  type="text" [(ngModel)]="vehicleObj.Reg_Effectivefrom_date" id="Reg_Effectivefrom_date" [ngModelOptions]="{standalone: true}"> -->
            <!-- <input [owlDateTime]="dt2" placeholder="Date Time">
            <span [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar"></i></span> -->
            <!-- <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time> -->
        </div>

        <label class="col-sm-2 col-form-label">Reg Effective To</label>
        <div class="col-sm-4">
          <mat-form-field appearance="fill" >
            <mat-label>Choose a date</mat-label>
            <input class="" matInput [matDatepicker]="toDate" [(ngModel)]="vehicleObj.Reg_Effectiveto_date" id="Reg_Effectiveto_date" [ngModelOptions]="{standalone: true}">
            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
          <!-- <input class="form-control"  type="text" [(ngModel)]="vehicleObj.Reg_Effectiveto_date" id="Reg_Effectiveto_date" [ngModelOptions]="{standalone: true}"> -->
        </div>

      </div>
    </div>
    <br />
    <hr />
    <div class="text-center">
      <div class="form-group align-center">
        <button type="submit" class="btn btn-success fa fa-check-square-o cursor-pointer" (click)="saveVehicle()"> <span class="font-d">
            Save</span></button> &nbsp;
        <button class="btn btn-danger fa fa-remove cursor-pointer" (click)="cancel()"><span class="font-d">
            Cancel</span></button>
      </div>
    </div>

  </form>
</div>

<!-- *********************************************** Data List **********************************************  -->
<div class="row">
  <div class="col-sm-12">
      <app-card [title]="'Vehicle Master'" [classHeader]="true" [blockClass]="'table-border-style'">
        <div class="table-responsive">
            <p>
              <!-- <a class="btn btn-success float-right" [routerLink]="['/add-edit-item']">Add New</a>   -->
              <a class="btn btn-success float-right text-white m-b-10 m-r-20 fa fa-plus-circle cursor-pointer" (click)="addEditOpen(0)"><span class="font-d"> Add New</span></a>
            </p>
              <br/>
              <br/>

            <p-table class="" #dt [value]="vehicleMaster" [(selection)]="selectedVehicleMaster" dataKey="id" [autoLayout]="true" styleClass="p-datatable-d" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0" [globalFilterFields]="['Vehicle_No','Vehicle_TypeDesc','Vehicle_CategoryDesc']">
              <ng-template pTemplate="caption">
                <div class="table-header-p ">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input class="p-l-30 form-control" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                    </span>
                </div>
              </ng-template>
              <br/>
              <br/>
              <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="Vehicle_No">Vehicle No <p-sortIcon field="Vehicle_No"></p-sortIcon></th>
                  <th pSortableColumn="Vehicle_TypeDesc">Vehicle Type <p-sortIcon field="Vehicle_TypeDesc"></p-sortIcon></th>
                  <th pSortableColumn="Vehicle_CategoryDesc">Vehicle Category<p-sortIcon field="Vehicle_CategoryDesc"></p-sortIcon></th>
                  <th pSortableColumn="MeasurementDesc">Measurement<p-sortIcon field="MeasurementDesc"></p-sortIcon></th>
                  <th pSortableColumn="StatusDesc">Status <p-sortIcon field="StatusDesc"></p-sortIcon></th>
                  <th pSortableColumn="Deleted">IsDeleted <p-sortIcon field="Deleted"></p-sortIcon></th>
                  <th >Action </th>
              </tr>
              <tr>
                  <th>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'Vehicle_No', 'contains')" placeholder="Search by Vehicle No" class="form-control">
                  </th>
                  <th> <input pInputText type="text" (input)="dt.filter($event.target.value, 'Vehicle_TypeDesc', 'contains')" placeholder="Search by Type" class="form-control"></th>
                  <th>
                      <input pInputText type="text" (input)="dt.filter($event.target.value, 'Vehicle_CategoryDesc', 'contains')" placeholder="Search by Category" class="form-control">
                  </th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>

              </tr>
              </ng-template>

              <ng-template pTemplate="body" let-item>
              <tr class="">  <!-- p-selyectable-row  -->
                  <td>
                        {{item.Vehicle_No}}
                  </td>
                  <td>
                    {{item.Vehicle_TypeDesc}}
                  </td>
                  <td>
                    {{item.Vehicle_CategoryDesc}}
                  </td>
                  <td>
                    {{item.MeasurementDesc}}
                  </td>
                  <td>
                        {{item.StatusDesc}}
                  </td>
                  <td style = "width: 220px;">
                    {{item.Deleted}} <span *ngIf="item.Deleted =='Yes'"><button type="button" class="float-right btn btn-success text-white " (click) = "activateItem(item.Vehicle_Id)">Make Active</button> </span>
                  </td>
                  <td>
                          <a class="ti-pencil-alt edit" (click)="addEditOpen(item.Vehicle_Id)"></a>
                          &nbsp;<a class=" ti-trash delete" (click)="deleteItem(item.Vehicle_Id)"></a>
                  </td>
              </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
              <tr>
              <td colspan="7">No items found</td>
              </tr>
              </ng-template>
          </p-table>
        </div>
     </app-card>
  </div>
</div>

