<!-- *********************************************** Insert-Update **********************************************  -->
<div *ngIf="IsAddEdit">
  <div><div class='alert alert-danger'><span>{{warningMessage}}</span></div></div>
  <form >
    <div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">type Name<span class="warningclass">*</span></label>
        <div class="col-sm-4">
          <input class="form-control"  [ngClass] ="typeObj.Type_Name == '' && errorMessage != '' ? 'alert-danger':''" type="text" [(ngModel)]="typeObj.Type_Name" id="type_Name" [ngModelOptions]="{standalone: true}">
        </div>

        <label class="col-sm-2 col-form-label">type Name (Danish)<span class="warningclass">*</span></label>
        <div class="col-sm-4">
          <input class="form-control" type="text" [ngClass] ="typeObj.Type_NameD == '' && errorMessage != '' ? 'alert-danger':''" [(ngModel)]="typeObj.Type_NameD" id="type_Name_D" [ngModelOptions]="{standalone: true}" >
        </div>
      </div>

      <div class="form-group row">
        <!-- <label class="col-sm-2 col-form-label">Display Seq No<span class="warningclass">*</span></label>
        <div class="col-sm-4">
          <input class="form-control" type="number"  [ngClass] ="(typeObj.Display_Seq_No == 0 || typeObj.Display_Seq_No == null) && errorMessage != '' ? 'alert-danger':''"[(ngModel)]="typeObj.Display_Seq_No" id="Display_Seq_No" [ngModelOptions]="{standalone: true}" min="0">
        </div> -->

        <label class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-4">
          <select class="form-control" [(ngModel)]="typeObj.Status" id="Status"
            [attr.disabled]="isInserted == 'I' ? 'disabled' : null" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let st of StatusList; let i = index" [value]="st.id" >
              {{st.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <hr />
    <div class="text-center">
      <div class="form-group align-center">
        <button type="submit" class="btn btn-success fa fa-check-square-o cursor-pointer" (click)="savetype()"> <span class="font-d">
            Save</span></button> &nbsp;
        <button class="btn btn-danger fa fa-remove cursor-pointer" (click)="cancel()"><span class="font-d">
            Cancel</span></button>
      </div>
    </div>

  </form>
</div>

<!-- *********************************************** Data List **********************************************  -->
<div class="row">
  <div class="col-sm-12">
      <app-card [title]="'type Master'" [classHeader]="true" [blockClass]="'table-border-style'">
        <div class="table-responsive">
            <p>
              <!-- <a class="btn btn-success float-right" [routerLink]="['/add-edit-item']">Add New</a>   -->
              <a class="btn btn-success float-right text-white m-b-10 m-r-20 fa fa-plus-circle cursor-pointer" (click)="addEditOpen(0)"><span class="font-d"> Add New</span></a>
            </p>
              <br/>
              <br/>

            <p-table class="" #dt [value]="typeMaster" [(selection)]="selectedtypeMaster" dataKey="id" [autoLayout]="true" styleClass="p-datatable-d" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0" [globalFilterFields]="['type_Name','type_Name_D']">
              <ng-template pTemplate="caption">
                <div class="table-header-p ">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input class="p-l-30 form-control" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                    </span>
                </div>
              </ng-template>
              <br/>
              <br/>
              <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="type_Name">Type Name <p-sortIcon field="type_Name"></p-sortIcon></th>
                  <th pSortableColumn="type_Name_D">Type Name (Danish) <p-sortIcon field="type_Name_D"></p-sortIcon></th>
                  <th pSortableColumn="StatusDesc">Status <p-sortIcon field="StatusDesc"></p-sortIcon></th>
                  <th >Action </th>
              </tr>
              <tr>
                  <th>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'Type_Name', 'startsWith')" placeholder="Search by type  name" class="form-control">
                  </th>
                  <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Type_NameD', 'contains')" placeholder="Search by type denish" class="form-control">
                  </th>
                  <th>

                  </th>
                  <th></th>
                  <th></th>

              </tr>
              </ng-template>

              <ng-template pTemplate="body" let-item>
              <tr class="">  <!-- p-selyectable-row  -->

                  <td>
                    <span *ngIf="!item.editable">{{item.Type_Name}}</span>
                    <input type="text" class="form-control" [(ngModel)]="item.Type_Name" *ngIf="item.editable"/>
                  </td>
                  <td>
                    <span *ngIf="!item.editable">{{item.Type_NameD}}</span>
                    <input type="text" class="form-control" [(ngModel)]="item.Type_NameD" *ngIf="item.editable"/>
                  </td>
                  <td>
                    <span *ngIf="!item.editable">{{item.StatusDesc}}</span>
                    <div *ngIf="item.editable">
                      <select class="form-control" [(ngModel)]="item.Status" id="Status"
                        [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let st of StatusList; let i = index" [value]="st.id" >
                          {{st.name}}
                        </option>
                      </select>

                      <!-- <input class="form-control" type="text" [(ngModel)]="item.Status" value="{{item.StatusDesc}}"> -->
                    </div>
                  </td>
                  <td>
                    <div *ngIf="!item.editable">
                      <a class="ti-pencil-alt edit" (click)="edittypemaster(item)"></a>
                      &nbsp;<a class=" ti-trash delete" (click)="deletetype(item.Type_ID)"></a>
                    </div>
                    <div *ngIf="item.editable">
                      <button class="btn btn-sm btn-success" (click)="edittypemaster(item)">Update</button>
                      &nbsp;<button class="btn btn-sm btn-danger" (click)="cancletypemaster(item)">Cancel</button>
                    </div>
                          <!-- <a class="ti-pencil-alt edit" (click)="edittypemaster(item)"></a>
                          &nbsp;<a class=" ti-trash delete" (click)="deleteItem(item.type_ID)"></a> -->
                             <!-- &nbsp;<a class=" ti-eye view" (click)="deleteItem(item.Item_ID)"></a> -->
                  </td>
              </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
              <tr>
              <td colspan="3">No items found</td>
              </tr>
              </ng-template>
          </p-table>
        </div>
     </app-card>
  </div>
</div>

